@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

/* 1) Header_start */
.navbar-header {
  /* background-color: blue; */
  width: 300px;
}

/* 1) Header_end */

/* 2) nav_start */
.navMenuWrap {
  /* background-color: pink; */
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* background-color: red; */
}
/* .navbar-nav {
  background-color: blue;
  width: 100%;
} */

/* 2) nav_end */

/* 3) Body_start */

/* 3) Body_end */

/* 4) swipWrap_start */
.swiper-button-prev,
.swiper-button-next {
  color: black;
}

/* 4) swipWrap_end */

/* 5) menuWrap_start */

/* 5) menuWrap_end */

/* 6) contentsWrap_start */

/* 6) contentsWrap_end */

/* 7) contentsBox_start */

/* 7) contentsBox_end */

/* 8) botBoxWrap_start */

/* 8) botBoxWrap_end */

.nav.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar-header {
  /* background-color: blue; */
  width: 300px;
}

.navbar-nav {
  /* background-color: pink; */
  margin-right: 20px;
}

/* .container-fluid {
  background-color: grey;
} */

.swiper {
  width: 100%;
}

.topSmallHeader {
  background-color: skyblue;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.topSmallHeaderL {
  /* background-color: grey; */
  font-family: "Noto Sans KR";
  font-size: 11px;
  font-weight: bold;
  display: flex;
}
.topSmallHeaderL > a {
  padding: 5px 10px;
  width: 99px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topSmallHeaderL > a:nth-child(1) {
  background-color: #f8b915;
}
.topSmallHeaderL > a:nth-child(2) {
  background-color: black;
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 26px;
}

.menuCard {
  display: flex;
  flex-direction: column;
}

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.footerWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: skyblue; */
  width: 100%;
  height: 281px;
}

.footerWrap .footerContainer {
  /* background-color: #eee; */
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.policymenu {
  /* background-color: pink; */
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: #737373;
}

.policymenu a {
  margin: 0 10px;
  color: #737373;
  /* background-color: white; */
}

.footerWrap .snsIconWrap {
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0;
  gap: 25px;
  color: #737373;
}
.footerWrap .snsIconWrap ul.iconWrap {
  display: flex;
  gap: 20px;
}
.line1 {
  font-size: 14px;
  color: #737373;
  display: flex;
  justify-content: center;
}

.line1 > p {
  /* background-color: #bbb; */
  margin: 0 7px 0 0;
}

.line2 {
  font-size: 14px;
  color: #737373;
  display: flex;
  justify-content: center;
  margin: 3px 0;
}

.line2 > p {
  /* background-color: #bbb; */
  margin: 0 7px 0 0;
}

.line3 {
  font-size: 14px;
  color: #737373;
  /* display: flex;
  justify-content: center; */
}

/* .searchBoxContainer,
.newsBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
} */

.searchBoxWrap,
.newsBoxWrap {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: space-between;
  gap: 5px;
  /* background-color: red; */
}

.contentsWrap {
  display: flex;
  justify-content: center;
  align-content: stretch;
  gap: 20px;
  /* background-color: gray; */
}
