/* 
  commit_by_bosco_20240330_01:04
  to_do_list
  1. 모달창과 지도
  2. 네비게이션 마우스오버
  3. 좌측상단박스 디자인다시
  4. 첫번째 swiper pagination 다시
  5. 검색기능
  6. 전체적인 디자인 A/S
*/

@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
ul,
li {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

/* 1) Header_start */
.header {
  background: white;
  width: 100vw;
  top: 0;
  z-index: 10;
}
.innerTopUl {
  padding-left: 0px;
}
.innerTopL {
  font-size: 12px;
  font-weight: bold;
}
.innerTopL li {
  height: 27px;
  width: 99px;
  text-align: center;
}
.navContainer {
  width: 90vw;
  border: none;
}
.innerTopL li:nth-child(1) {
  background-color: #f8b915;
  border-radius: 0 0 2px 2px;
  line-height: 27px;
}
.innerTopL li:nth-child(2) {
  background-color: black;
  border-radius: 0 0 2px 2px;
  line-height: 27px;
  color: white;
}
.innerTopL li:nth-child(2):hover {
  background: #f8b915;
  border-radius: 0 0 2px 2px;
  line-height: 27px;
  color: black;
}
.innerTopR {
  margin-top: 25px;
}
.innerTopRUl {
  margin-top: 100px;
}
.innerTopR li {
  padding: 0px 8px;
}
.innerTopR a {
  color: #9d8f75;
  font-size: 12px;
}
.innerTopR li {
  height: 15px;
  display: flex;
  align-items: center;
}
.innerTopR li:nth-child(2) {
  /* Either:
  border: 1px solid #000;
  border-top: 0 none;
  border-bottom: 0 none
  where 0 is 0px and none is solid->none
  OR
  border-left 1px solid #000;
  border-right 1px solid #000 */
  border: 1px solid #9d8f75;
  border-top: 0px none;
  border-bottom: 0px none;
}
/* 빼야할지도 */
.toggle {
  height: 40px;
  width: 40px;
  background-color: gray;
}

/* 1) Header_end */

/* 2) nav_start */
.nav.navbar-nav {
  display: flex;
  flex-direction: row;
}
.nav.navbar-nav > li {
  padding: 15px;
  background: url("../images/line_gnb.gif") no-repeat left 3px;
  background-size: 1px 30%;
  background-position-y: 40%;
}
.nav.navbar-nav .gnb01 {
  background: none;
}

.nav.navbar-nav > li > a {
  background: none;
  font-size: 22px;
  line-height: 33px;
  padding: 0 20px;
  font-weight: 500;
  color: #020000;
  gap: 15px;
  width: auto;
  height: auto;
  letter-spacing: -0.3px;
}

.navbar-nav .gnbBtn:hover {
  background-color: #ffc500;
  border-radius: 40px;
}

/* .bul{
  width: 9px;
  height: 9px;
  margin-left: -5px;
  position: absolute;
  left: 50%;
  top:10px;
  z-index:2;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px #d7d7d7 solid;
  background:#fff
} */

/* 2) nav_end */

/* 3) Body_start */
.bodyContainer {
  margin-bottom: 80px;
}
/* 3) Body_end */

/* 4) swipWrap_start */
.swiper-button-prev,
.swiper-button-next {
  color: gray;
}
.newsSwiperBtnL {
  margin-left: 200px;
}
.newsSwiperBtnR {
  margin-right: 200px;
}
.swiper.swipWrap {
  --swiper-navigation-size: 30px;
}

.swiper.menu-swiper {
  --swiper-navigation-size: 20px;
  --swiper-pagination-bottom: 0px;
  height: 350px;
  width: 1200px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 13px;
}

.menuSwipWrap .swiper-slide img {
  width: 300px;
  height: 250px;
}

.menuSwipWrap .swiper-slide span {
  background-color: black;
  color: white;
  text-align: center;
  width: fit-content;
  font-size: 16px;
  padding: 8px 13px 8px 13px;
  border-radius: 20px;
  margin: 20px;
}

.menuSwipWrap .swiper-slide {
  align-content: center;
}

/*css responsive start*/
/* to make slider image size responsive */
/* media query has 4 levels, whereas bootstrap has 5 levels of screen size */
dia screen and (max-width: 1199px) {
  .swipWrap .swiper-slide img {
    width: 1920px;
    height: 420px;
  }
  .menuSwipWrap .swiper-slide img {
    width: 200px;
    height: 150px;
  }
  .menuSwipWrap .menu-swiper {
    /* background-color: blue; */
    height: 350px;
  }
  .menuSwipWrap .swiper-slide span {
    font-size: 12px;
    padding: 10px;
    border-radius: 25px;
  }
  .swiper.menu-swiper {
    --swiper-pagination-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  .swipWrap .swiper-slide img {
    width: 1140px;
    height: 315px;
  }
}

/* mobile size. max width 767px */
@media screen and (max-width: 767px) {
  .swipWrap .swiper-slide img {
    width: 960px;
    height: 210px;
  }
}
@media screen and (max-width: 575px) {
  .swipWrap .swiper-slide img {
    width: 960px;
    height: 105px;
  }
}
/*css responsive end*/

/* 4) swipWrap_end */

/* 5) menuWrap_start */
.menuSwiperBtnL {
  margin-left: 20px;
}
.menuSwiperBtnR {
  margin-right: 20px;
}
.menuWrap > h3 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.menuCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 5) menuWrap_end */

/* 6) contentsWrap_start */

.searchBoxWrap,
.newsBoxWrap {
  display: flex;
  justify-content: center;
  align-content: stretch;
  gap: 20px;
}

.contentsWrap .searchBoxWrap {
  display: flex;
}
.modal {
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 5% 15% 15% 15%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.searchPlace {
  padding-top: 50px;
  justify-content: center;
  margin: auto;
}
.searchPlace > input {
  height: 60px;
  width: 420px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.info {
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
  letter-spacing: -1px;
  text-decoration: underline;
}
.placeExtra {
  width: 30%;
}
.placeWraper {
  align-items: center;
}
#pagination {
  height: 30px;
  color: black;
  text-align: center;
  width: 100%;
}

.newsBoxWrap {
  display: flex;
  justify-content: center;
  align-items: space-between;
  gap: 5px;
}
.newsBoxWrap::before {
  content: "";
  display: block;
  background-color: white;
  width: 1px;
  margin-right: 100px;
  height: inherit;
}
.contentsWrap {
  display: flex;
  justify-content: center;
  align-content: stretch;
  gap: 20px;
  background-color: #ffcb44;
  width: 100%;
  margin-left: 0;
  padding: 60px 0 15px 0;
}

.newsBoxContainer h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.searchBtn {
  background-color: #000;
  border: none;
  width: 60px;
  height: 60px;
}
/* 버튼 Wrap */
.btnWraper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnWraper p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
}

/* 6) contentsWrap_end */

/* 7) contentsBox_start */

/* 백그라운드 이미지 */
.btnWraper .bgImg {
  background-color: white;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.2s;
}
/* 마우스 호버 */
.btnWraper .bgImg:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.4);
}
/* 이벤트Btn */
.btnWraper .eventBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 240px;
  height: 270px;
}
.evnetTitle {
  margin-left: 10px;
}
.newsTitle {
  margin-left: 10px;
}
.eventContent {
  text-align: center;
}
.newsContent {
  text-align: center;
}
.btnWraper .eventBtn img {
  width: 100px;
  height: 80px;
}
/* 코촌 뉴스 */
.btnWraper .newsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 240px;
  height: 270px;
}
.btnWraper .newsBtn img {
  /* background-color: #fa7070; */
  width: 100px;
  height: 80px;
}

.serchBoxContainer > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.resulList {
  display: flex;
}
.resulList ul {
  height: 109px;
  overflow-y: auto;
}
/*  */
/* 7) contentsBox_end */

/* 8) botBoxWrap_start */
.botBoxWrap {
  margin-top: 50px;
  text-align: center;
}

.botBoxWrap > h3 {
  font-size: 26px;
  font-weight: 600;
}
.botBoxWrap > p {
  color: #626262;
  font-size: 18px;
  margin-bottom: 50px;
}

.botBox p {
  margin: 0;
}

.boxTxtWrap {
  background-color: white;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  gap: 7px;
}

.boxTxtWrap p {
  font-size: 16px;
}

.botBoxContainer {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
}
/* 8) botBoxWrap_end */

/* 9) footer_start */
.footerWrap {
  padding: 55px 0 0 0;
}
.footerWrap .footerContainer {
  text-align: center;
}
.policymenu {
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: #737373;
}
.policymenu a {
  margin: 0 10px;
  color: #737373;
}

.footerWrap .snsIconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0;
  gap: 25px;
  color: #737373;
}
.footerWrap .snsIconWrap ul {
  padding: 0;
}
.line1 {
  font-size: 14px;
  color: #737373;
  display: flex;
  justify-content: center;
}
.line1 > p {
  /* background-color: #bbb; */
  margin: 0 7px 0 0;
}
.line2 {
  font-size: 14px;
  color: #737373;
  display: flex;
  justify-content: center;
  margin: 3px 0;
}
.line2 > p {
  /* background-color: #bbb; */
  margin: 0 7px 0 0;
}
.line3 {
  font-size: 14px;
  color: #737373;
  /* display: flex;
  justify-content: center; */
}
img {
  vertical-align: top;
}
/* 9) footer_end */
